body {
	background-color: #dbeff6;
}

.custom-icon {
	width: 200px;
	height: 180px;
}

#top_header {
	/* background-color: #fab430; */
	mask-image: url("img/corner-mask.png");
	background-color: #0c4056;
	background-size: contain;
}

#navbar {
	background-color: #1e647d;
	scroll-padding-block-start: .3rem;
}

.navbar-nav {
	border-radius: .3rem;
}

.nav-item {
	font-weight:800;
	margin: .5rem;
	border-radius: .3rem;
}

.nav-item:hover {
	font-weight:900;
	text-shadow: 2px 2px 4px 
	#dbeff6;
}

.list-group-item {
	background-color: transparent;
}

.emphasis {
	background-color: #a2e9ffe4;
}

.grit {
  -webkit-mask-image: url("img/grit.png");
  mask-image: url("img/grit.png");
}

img {
	border-radius: .3rem;
	max-width: 60%;
}

ul {
	background-color: #488fa771;
	/* border-radius: .5rem; */
	/* padding: 10px; */
	/* padding-top: .5rem;
	padding-bottom: .5rem; */
}

p {
	border-radius: .3rem;
	/* background-color: #d2e6f9aa; */
	background-color: #488fa72c;
	padding: .6rem;
	margin-top: .6rem;
}
